.mail {
  /* width: 100%; */
  /* margin-top: 50px; */
  background-color: #7F00FF;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

.mailTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.mailDesc {
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
}

.mailInputContainer {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust gap between input and button */
}

.mailInput {
  width: 300px;
  height: 25px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.mailButton {
  height: 30px; /* Adjust button height */
  min-width: 80px; /* Adjust button width */
  background-color: #28f0f7;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
